services:
  db:
    image: mariadb:11
    restart: always
    environment:
      MARIADB_ROOT_PASSWORD: matheo
      MARIADB_DATABASE: matheo
      MARIADB_USER: matheo
      MARIADB_PASSWORD: matheo
    volumes:
      - db_data:/var/lib/mysql
    networks:
      - backend_net          

  app:
    build:
      context: ./app         
    restart: always
    depends_on:
      - db
    environment:
      DB_HOST: db
      DB_NAME: matheo
      DB_USER: matheo
      DB_PASS: matheo
    networks:
      - backend_net          
      

  proxy:
    image: nginx:alpine
    restart: always
    depends_on:
      - app
    volumes:
    - ./proxy/nginx.conf:/etc/nginx/conf.d/default.conf:ro

    ports:
      - "8080:80"            
    networks:
      - frontend_net         
      - backend_net          

volumes:
  db_data:

networks:
  backend_net:
  frontend_net:
